<% if @alerts.present? %>
  <h2> Alerts
    <%= link_to(new_alert_path, data: { turbolinks: false }) do %>
      <%= fa_icon('plus-circle') %>
    <% end %>
  </h2>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Search Params</th>
          <th>Matches</th>
          <th>
        </tr>
      </thead>
      <tbody>
        <% alerts.each do |alert| %>
          <tr id="post_<%= alert.id %>">
            <td><%= link_to(alert.name, alert_path(alert)) %></td>
            <td><%= alert.city %></td>
            <td>
              <%= render 'shared/tags', tags_hash: alert.search_param_tags %>
            </td>
            <td><%= alert.craigslist_posts.count %></td>
            <td>
              <%= link_to(edit_alert_path(alert), data: { turbolinks: false }) do %>
                <%= fa_icon('edit', size: 'lg', title: 'Edit alert') %>
              <% end %>
              <%= link_to(alert_path(alert), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, title: 'Delete alert') do %>
                <%= fa_icon('trash', size: 'lg', style: 'color: red') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <%= link_to(new_alert_path) do %>
    <div class="alert alert-warning text-center">
      <div class="text-center">
        <%= fa_icon('frown-open', size: '5x') %>
      </div>
      Things look empty. Click to make a new Alert!
    </div>
  <% end %>
<% end %>
