<% if @alerts.present? %>
  <h2> Alerts
    <%= link_to(new_alert_path, title: 'New alert', data: { turbolinks: false }) do %>
      <%= fa_icon('plus-circle') %>
    <% end %>
  </h2>
  <%= link_to('Favorites', favorites_path) %>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name)%></th>
          <th><%= sort_link(@q, :city)%></th>
          <th>Search Params</th>
          <th><%= sort_link(@q, :craigslist_posts_count, 'Matches')%></th>
          <th>
        </tr>
      </thead>
      <tbody>
        <% alerts.each do |alert| %>
          <tr id="<%= dom_id(alert) %>" class="<%= alert.seen? ? '' : 'table-primary' %>">
            <td><%= link_to(alert.name, alert_path(alert)) %></td>
            <td><%= alert.city %></td>
            <td>
              <%= render 'shared/tags', tags_hash: alert.search_param_tags %>
            </td>
            <td><%= alert.craigslist_posts_count %></td>
            <td>
              <%= link_to(edit_alert_path(alert), title: "Edit alert #{alert.id}",data: { turbolinks: false }) do %>
                <%= fa_icon('edit', size: 'lg') %>
              <% end %>
              <%= link_to(alert_path(alert), title: "Delete alert #{alert.id}", method: :delete, data: {confirm: 'Are you sure?'}, remote: true) do %>
                <%= fa_icon('trash', size: 'lg', style: 'color: red') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <div class="text-center", style="margin-top: 30vh">
    <%= fa_icon('box-open', size: '5x') %>
    <p>You haven't setup any Alerts yet.
    <p>Alerts allow you to keep track of Apartment listings you are interested in, and be notified when new ones are available.
    </p>
    </p>
    <%= link_to('Create an Alert', new_alert_path, title: 'New alert', class: 'btn btn-primary', data: { turbolinks: false }) %>
  </div>
<% end %>
