<h2>
  <%= @alert.name %>
  <%= link_to(edit_alert_path(alert), data: { turbolinks: false }) do %>
    <%= fa_icon('edit', size: 'xs', title: 'Edit alert') %>
  <% end %>
  <%= link_to(refresh_alert_path(@alert), method: :post) do %>
    <%= fa_icon('sync-alt', size: 'xs', title: 'Refresh listings') %>
  <% end %>
</h2>

<div class="row">
  <div class="col-lg-8">
    <%= render 'shared/tags', tags_hash: alert.search_param_tags %>
    <p><em>Next refresh in about <%= alert.next_pull_time_remaining %> minutes</em></p>
  </div>
  <div class="col-lg-4 col-sm-8">
    <div class="card">
      <div class="card-body p-1">
        <ul class="row list-unstyled m-0">
          <div class="col-sm">
            <li>
              Average: <%= @alert.average_post_price %>
            </li>
            <li>
              Median: <%= @alert.median_post_price %>
            </li>
          </div>
          <div class="col-sm">
            <li>
              Min: <%= @alert.min_post_price %>
            </li>
            <li>
              Max: <%= @alert.max_post_price %>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/craigslist_posts_table', search_url: alerts_path %>
