<h2>
  <%= @alert.name %>
  <%= link_to(edit_alert_path(alert), data: { turbolinks: false }) do %>
    <%= fa_icon('edit', size: 'xs', title: 'Edit alert') %>
  <% end %>
  <%= link_to(refresh_alert_path(@alert), method: :post) do %>
    <%= fa_icon('sync-alt', size: 'xs', title: 'Refresh listings') %>
  <% end %>
</h2>

<div class="row">
  <div class="col-lg-8">
    <%= render 'shared/tags', tags_hash: alert.search_param_tags %>
    <p><em>Next refresh in about <%= alert.next_pull_time_remaining %> minutes</em></p>
  </div>
  <div class="col-lg-4 col-sm-8">
    <div class="card">
      <div class="card-body p-1">
        <ul class="row list-unstyled m-0">
          <div class="col-sm">
            <li>
              Average: <%= @alert.average_post_price %>
            </li>
            <li>
              Median: <%= @alert.median_post_price %>
            </li>
          </div>
          <div class="col-sm">
            <li>
              Min: <%= @alert.min_post_price %>
            </li>
            <li>
              Max: <%= @alert.max_post_price %>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <%= form_tag batch_delete_craigslist_posts_path, id: 'batch-delete-form', method: :patch do%>
      <%= submit_tag('Delete selected', id: 'delete-all', class: 'btn btn-primary', disabled: true, form: 'batch-delete-form') %>
    <% end %>
  </div>
  <div class="col-lg-3 text-lg-right align-self-end">
    <em>Total matches found: <%= alert.craigslist_posts_count %></em>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>
        <th>
        <th scope="col"><%= sort_link @q, :title, ['favorite desc', :title] %></th>
        <th scope="col"><%= sort_link @q, :price, ['favorite desc', :price] %></th>
        <th scope="col"><%= sort_link @q, :bedrooms, ['favorite desc', :bedrooms] %></th>
        <th scope="col"><%= sort_link @q, :square_feet, ['favorite desc', :square_feet] %></th>
        <th scope="col"><%= sort_link @q, :hood, ['favorite desc', :hood] %></th>
        <th scope="col"><%= sort_link @q, :date, ['favorite desc', :date] %></th>
        <th>
      </tr>
      <tr>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
        <th>
          <%= search_form_for @q, url: alert_path do |f| %>
            <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
            <%= f.text_field :hood_cont %>
          <% end %>
        </th>
        <th>
        <th>
      </tr>
    </thead>
    <tbody>
      <% craigslist_posts.order(created_at: :desc).each do |post| %>
        <tr scope="row" id="post_<%= post.id %>" class="<%= post.seen? ? '' : 'table-primary' %>">
          <td><%= check_box_tag('posts[]', post.id, false, onclick: 'toggleMassDeleteButton()', form: 'batch-delete-form', id: "delete-checkbox-#{post.id}") %></td>
          <td>
            <%= link_to(favorite_craigslist_post_path(post), title: "Favorite post #{post.id}", class: 'favorite', method: :post, remote: true) do %>
              <%= post.favorite? ? fa_icon('star', size: 'lg', class: 'star-outline') : fa_icon('star', size: 'lg', type: :regular) %>
            <% end %>
          </td>
          <td><%= link_to(post.title, post.link, target: :_blank, onmouseup: "markSeen(event, #{post.id});") %></td>
          <td><%= post.price %></td>
          <td><%= post.bedrooms %></td>
          <td><%= post.square_feet %></td>
          <td><%= post.hood %></td>
          <td><%= post.date %></td>
          <td>
            <%= link_to( craigslist_post_path(post), method: :delete, title: "Delete post #{post.id}", remote: true) do %>
              <%= fa_icon('trash', size: 'lg',  style: 'color: red') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
<%= javascript_pack_tag('alerts/show') %>
