<!DOCTYPE html>
<html>
  <head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
    </style>
  </head>

  <h2> Alert </h2>

  <div>
    <%= label_tag('Filters:')%>
    <%= @alert.search_params %>
    <%= button_to('Refresh', refresh_alert_path(@alert), method: :post, form: { style: 'display:inline-block;'}) %>
  </div>
  <br>

  <table style="width: 100%">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Bedrooms</th>
      <th>Square Feet</th>
      <th>Neighborhood</th>
      <th>Date</th>
      <th/>
    </tr>
    <% @alert.craigslist_posts.order(created_at: :desc).each do |post| %>
      <tr>
        <td><%= link_to(post.title, post.link, target: :_blank) %></td>
        <td><%= post.price %></td>
        <td><%= post.bedrooms %></td>
        <td><%= post.square_feet %></td>
        <td><%= post.hood %></td>
        <td><%= post.date %></td>
        <td><%= button_to('Delete', craigslist_post_path(post), method: :delete, form: { style: 'display:inline-block;'}) %></td>
      </tr>
    <% end %>
  </table>
</html>
